#pc {
    position: relative;
    width: 100%;
    height: 50px;
    background: black;
    text-align: right;
}


#pc a{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    top: 14px;
    padding-right: 27px;

}

#pc a:hover{
    position: relative;
    color:rgb(158, 160, 161);
    text-decoration: none;
    font-size: 16px;
    top: 14px;
    padding-right: 27px;
}

#pc #logo {
    position: absolute;
    font-size: 16px;
    top: 14px;;
    font-family: "Pacifico", cursive;
    font-style: normal;
    left: 27px;
}

#mobile {
    display: none;
    position: relative;
    width: 100%;
    height: 50px;
    background: black;
    text-align: right;
}

footer {
    position: relative;
    height: 50px;
    background: black;
    text-align: center;
}

footer p{
    position: relative;
    background: black;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    top: 14px;
}

@media screen and (max-width:424px) {
    #pc {
        display: none;
    }
    #mobile {
        display: block;
    }
  }

.footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: black;
    color: aliceblue;
    text-align: center;

}