* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}


#foto_1 {
    position: fixed;
    width: 200px;
    height: 200px;
    z-index: -1;
    right: 8%;
    bottom: 13%;
    rotate: 10deg;
    background-attachment: fixed;
}

#foto_2 {
    position: fixed;
    width: 150px;
    height: 169px;
    z-index: -1;
    bottom: 10px;
    left: 10px;
    rotate: -10deg;
}

#foto_3 {
    position: fixed;
    width: 150px;
    height: 150px;
    z-index: -1;
    left: 15px;
    top: 75px;
    rotate: -10deg;
}

#main{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: "Pacifico", cursive;
    font-style: normal;
    box-sizing: border-box;
    min-height: 100vh;
}

#main p{
    text-align: left;
    font-size: 17px;
    padding-left: 20%;
}

#info {
    height: 100%;
}